{% extends "forsale/forsale.html" %}

{% block content %}
    <h1>Categories</h1>
    <p>Select a category to view items available.</p>
    <table>
      <tr>
        <th style="background-color:{{ highlight_bg_color }}">Name</th>
        <th style="background-color:{{ highlight_bg_color }}">Description</th>
      </tr>
      {% for category in categories_list %}
        <tr>
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}
