{% extends "forsale/forsale.html" %}

{% block content %}
  {% load forsale_tags %}
  <table>
    <tr>
      <td>Category</td>
      <td>{{ item.category.name }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ item.description }}</td>
    </tr>
    <!-- picture -->
    <tr>
      <td>Price</td>
      <td>{{ item.price|format_cents }}</td>
    </tr>
    <tr>
      <td>Owner</td>
      <td>{{ owner_fullname }}</td>
    </tr>
    <tr>
      <td>Added</td>
      <td>{{ item.created|date }}</td>
    </tr>
    {% if accepted_offer %}
      <tr id="solditem">
        <td>
          {% if accepted_offer.delivered %}
            Delivered
          {% else %}
            Sold
          {% endif %}
        </td>
        <td></td>
      </tr>
    {% endif %}
    {% if item.removed %}
      <tr id="removeditem">
        <td>
          Removed
        </td>
        <td></td>
      </tr>
    {% endif %}
    {% if item.offers.count > 0 %}
      <tr>
        <td>
          Offers
        </td>
        <td>
          {{ item.offers.count }}
        </td>
      </tr>
    {% endif %}
  </table>
  {% if user.is_authenticated %}
    {% if user.id == item.owner.user.id %}
      {% if not item.removed %}
        {% if not accepted_offer %}
          <form method="POST">
            {% csrf_token %}
            <button type="submit" formaction="{% url 'forsale:itemremove' item.id %}">
              Remove
            </button>
          </form>
        {% endif %}
        {% if item.offers.count > 0 %}
          <form method="POST">
            {% csrf_token %}
            <p>Offers:</p>
            <table>
              <tr style="background-color:{{ highlight_bg_color }}">
                <th></th>
                <th>Who</th>
                <th id="price">Price</th>
                <th>Address</th>
              </tr>
              {% for offer in item.offers.all %}
                <tr>
                  <td>
                    {% if not offer.delivered %}
                      {% if offer.accepted %}
                        Accepted
                        <button type="submit" formaction="{% url 'forsale:offerdelivered' item.id offer.id %}">
                          Delivered
                        </button>
                        <button type="submit" formaction="{% url 'forsale:offerunaccept' item.id offer.id %}">
                          Withdraw
                        </button>
                      {% else %}
                        {% if not accepted_offer %}
                          <button type="submit" formaction="{% url 'forsale:offeraccept' item.id offer.id %}">
                            Accept
                          </button>
                        {% endif %}
                      {% endif %}
                    {% else %}
                      Delivered
                    {% endif %}
                  </td>
                  <td>
                    {{ offer.userinfo.display_name }}
                  </td>
                  <td>
                    {{ offer.price|format_cents }}
                  </td>
                  <td>
                    {{ offer.address }}
                  </td>
                </tr>
              {% endfor %}
            </form>
          </table>
        {% endif %}
      {% endif %}
    {% else %}
      <!-- Logged in, but different user. -->
      {% if user_offer %}
        <!-- User made an offer -->
        <form method="POST">
          {% csrf_token %}
          <p></p>
          <table>
            <tr>
              <td>
                <button type="submit" formaction="{% url 'forsale:itemwithdraw' item.id %}">
                  Withdraw bid
                </button>
              </td>
              <td>
                {{ user_offer.price|format_cents }}
              </td>
            </tr>
          </table>
        </form>
      {% else %}
        <!-- User has not made an offer -->
        <!-- User must have an address to make an offer. -->
        {% if user_address %}
          <form method="POST">
            {% csrf_token %}
            <p></p>
            <table>
              <tr>
                <td>
                  <button type="submit" formaction="{% url 'forsale:itembid' item.id %}">
                    Bid
                  </button>
                </td>
                <td>
                  <input type="text" id="price" name="price" value="0.00">
                </td>
              </tr>
            </table>
          </form>
        {% else %}
          <p>
            <a href="{% url 'forsale:user' origin_path %}">
              Must have an address to bid.
            </a>
          </p>
        {% endif %}
      {% endif %}
    {% endif %}
    <p>
      <a href="{% url 'forsale:useritems' item.owner.user.id %}">
        All items for {{ user_fullname }}
      </a>
    </p>
  {% else %}
    <!-- Not logged in -->
    <p>
      <a href="{% url 'forsale:signin' origin_path %}">
        Sign in to bid.
      </a>
    </p>
  {% endif %}
  <p>
    <a href="{% url 'forsale:categoryitems' item.category.id %}">
      All items for category {{item.category.name }}
    </a>
  </p>
  <p>
    <a href="{% url 'forsale:categories' %}">
      Categories
    </a>
  </p>
  {% include 'forsale/signinout.html' %}
{% endblock %}

