<div style="background-color:{{ highlight_bg_color }}">
  {% if user_username %}
    <p>
      Signed in as: {{ user_fullname }}
      <span style="background-color:{{ signinout_bg_color }}">
        <a href="{% url 'forsale:signout_done' origin_path %}">
          Sign out
        </a>
      </span>
    </p>
  {% else %}
    <p>
      <span style="background-color:{{ signinout_bg_color }}">
        <a href="{% url 'forsale:signin' origin_path %}">
          Sign in
        </a>
      </span>
    </p>
  {% endif %}
</div>
