{% extends "forsale/forsale.html" %}

{% block content %}
    <h1>Sign in</h1>

    {% if signin_error %}
      <p>Error: {{ signin_error }}</p>
    {% endif %}

    <form method="post" autocomplete="on">
      {% csrf_token %}
      <table>
      <tr>
          <td>
            <label for="username">Username</label>
          </td>
          <td>
            <input type="text" id="username" name="username" value="{{ username }}">
          </td>
      </tr>
      <tr>
          <td>
            <label for="password">Password</label>
          </td>
          <td>
            <input type="password" id="password" name="password">
          </td>
      </tr>
      </table>

      <button type="submit" formaction="{% url 'forsale:signin_done' origin_path %}">
         Sign in
       </button>
     <!-- New user should use username and password already entered, so it
          should also submit using same form but different action. -->
      <button type="submit" formaction="{% url 'forsale:signup' origin_path %}">
        New user
      </button>
    </form>
    <!-- Submit must be a button, so make cancel link a button too. -->
    <form action="{{ origin_path }}" method="GET">
      <input type="submit" value="Cancel">
    </form>
{% endblock %}

