{% extends "forsale/forsale.html" %}

{% block content %}
  <h1>Update user profile</h1>

    {% if update_error %}
      <p>Error: {{ update_error }}</p>
    {% endif %}

  <form method="post" autocomplete="on">
    {% csrf_token %}
    {% include 'forsale/userinfo.html' %}
    <p>
      <button type="submit" formaction="{% url 'forsale:user_done' origin_path %}">
        Done
      </button>
    </p>
  </form>

  {# Submit must be a button, so make cancel link a button too. #}
  <form action="{{ origin_path }}" method="GET">
    <input type="submit" value="Cancel">
  </form>

  {% include 'forsale/signinout.html' %}
{% endblock %}

